root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true


# Excepciones para archivos de composables
[*Composable*.{kt,kts}]
ktlint_standard_function-naming = disabled
ktlint_filename = disabled

# Excepciones para archivos de NavGraph
[*NavGraph*.{kt,kts}]
ktlint_standard_function-naming = disabled
ktlint_filename = disabled


[*.{kt,kts}]
indent_style = space
indent_size = 4
max_line_length = 150
ktlint_code_style = android_studio

